@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: hsl(275, 100%, 97%);
    background-image: url(assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-attachment: fixed;
}

p {
    padding: 10px;
}

.container {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    align-items: center;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
}

.title h1 {
    flex-grow: 1;
    color: hsl(292, 42%, 14%);
    font-weight: 700;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question button {
    flex-grow: 1;
    cursor: pointer;
    border: none;
    background-color: hsl(0, 0%, 100%);
    text-align: justify;
    font-size: 16px;
}

.question p:hover {
    color: #AD28EB;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
    
.attribution a {
    color: hsl(228, 45%, 44%);
}

.semibold {
    font-weight: 600;
}

.dark {
    color: hsl(292, 42%, 14%);
}

.grayish {
    color: hsl(292, 16%, 49%);
}

.plus {
    display: none;
}

.answer {
    display: block;
}

#answer1, #answer2, #answer3, #answer4 {
    display: block;
}

.minus {
    display: block;
}

@media screen and (min-width:500px) {
    body {
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        background-color: hsl(275, 100%, 97%);
        background-image: url(assets/images/background-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        background-attachment: fixed;
    }

    .container {
        width: 40%;
    }
}

